:root{
    font-size: 0.85em;
}

@media (min-width: 800px){
    :root{
        font-size: 1em;
    }
}

@media (min-width: 1200px){
    :root{
        font-size: 1.15em;
    }
}

.cuadrado{
    width: 90vmin;
    background-color: rgb(133, 184, 235);
}

.panel{
    font-size: 1rem;
    padding: 1em;
    border-radius: 0.5em;
    border: 2px solid #3f3939;
}

.panel > h2{
    margin-top: 0;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}
.panel-grande{
    font-size: 1.2rem;
    padding: 1em;
    border-radius: 0.5em;
    border: 2px solid #3f3939;
    margin-top: 0.5em;
}

.panel-grande > h2{
    margin-top: 0;
    font-weight: bold;
    text-transform: uppercase;
}
