:root{
    --color-texto-general: rgb(134, 86, 23);
    --color-fondo-general: rgba(220, 220, 221, 0.459);
    --texto-fondo-oscuro: rgb(219, 219, 219);
    --boton-bg: #6e5896;
    --boton-bg-hover: #604b86;
}

h2{
    font-size: 2.1rem;
    color: var(--color-texto-general);
    text-align: center;
}

.contenedor{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-texto-general);
    text-align: center;
    background-color: var(--color-fondo-general);
    border-radius: 0.6rem;
    margin: 1rem;
}

.seccion{
    border-radius: 3rem;
    margin: 0.3rem 1rem;
}

.boton{
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0.4rem;
    margin: 0.3rem 1rem;
    color: var(--texto-fondo-oscuro);
    background-color: var(--boton-bg);
    border-radius: 0.5rem;
    border: 0.5px solid rgb(124, 123, 123);
    cursor: pointer;
    transition: all ease .2s;
}

.boton:hover{
    background-color: var(--boton-bg-hover);
}

input, textarea{
    font-size: 1.4rem;
    margin-top: 0.5rem;
}