:root{
    --color-texto-general: rgb(134, 86, 23);
    --color-fondo-general: rgba(220, 220, 221, 0.459);
    --texto-fondo-oscuro: rgb(219, 219, 219);
    --boton-bg: #6e5896;
    --boton-bg-hover: #604b86;
}

.hero{
    display: block;
    width: 70vw;
    margin-left: 1rem;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    padding: 3em 0;
    padding-top: 1em;
    margin-top: 1em;
    background-image: linear-gradient( 
    0deg, 
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
    ),
    url(/assets/img/heroimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 0.5em;
}

.container > h2{
    margin-top: 1rem;
    padding: 0 1em 0 1em;
    border-radius: 0.5em;
    font-size: 3em;
    color: var(--texto-fondo-oscuro);
}

.texto-hero{
    font-size: 2em;
    color:  var(--texto-fondo-oscuro);
}

.texto-hero div{
    margin-bottom: 2em;
}

.centrar{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.boton{
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0.5rem;
    margin: 0 4rem;
    color: var(--texto-fondo-oscuro);
    background-color: var(--boton-bg);
    border-radius: 0.5rem;
    border: 0.5px solid rgb(124, 123, 123);
    cursor: pointer;
    transition: all ease .2s;
}

.esta-no{
    text-decoration: none;
    color: var(--texto-fondo-oscuro);
    cursor: pointer;
}

.boton:hover{
    background-color: var(--boton-bg-hover);
}

#menu-cafe{
    background-color: var(--color-fondo-general);
    text-align: center;
    margin: 1rem 0;
}

#menu-cafe h2{
    margin-top: 0;
    font-size: 2.5em;
    color: var(--color-texto-general);
    font-weight: bold;
}

#menu-cafe h3{
    font-size: 1.8em;
}

#menu-cafe .container2{
    padding: 50px 0;
    color: var(--texto-fondo-oscuro);
}

#menu-cafe p{
    display: none;
}

#menu-cafe .carta{
    background-position: center center;
    background-size: cover;
    padding: 2rem ;
    margin: 1.5rem;
    border-radius: 0.4rem;
    box-shadow: 3px 3px 4px gray;
}

.carta:first-child{
    background-image: linear-gradient( 
    0deg, 
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    ),
    url(/assets/img/expreso.webp);
}

.carta:nth-child(2){
    background-image: linear-gradient( 
    0deg, 
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    ),
    url(/assets/img/ristretto.webp);
}

.carta:nth-child(3){
    background-image: linear-gradient( 
    0deg, 
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    ),
    url(/assets/img/macchiato.webp);
}

.carta:nth-child(4){
    background-image: linear-gradient( 
    0deg, 
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    ),
    url(/assets/img/latte_macchiato.webp);
}

.carta:nth-child(5){
    background-image: linear-gradient( 
    0deg, 
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    ),
    url(/assets/img/cafe_con_leche.webp);
}

.carta:last-child{
    background-image: linear-gradient( 
    0deg, 
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    ),
    url(/assets/img/cappuccino.webp);
}

@media (min-width: 800px){
    .hero{
    margin-top: 2.5rem;
    }

    #menu-cafe .cafe{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #menu-cafe p{
        display: block;
        font-size: 1.3rem;
        color: var(--color-texto-general);
        font-weight: 700;
    }

    #menu-cafe .carta{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.5rem;
        box-sizing: border-box;
        width: 27%;
        height: auto;
        padding: 40px 0 0 0;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: var(--color-fondo-general);
        box-shadow: 2px 2px 4px gray;
    }

    #menu-cafe .boton{
        display: none;
    }
}

@media (min-width: 1200px){
    #menu-cafe .cafe{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #menu-cafe p{
        display: block;
    }

    #menu-cafe .carta{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 1.5rem;
        box-sizing: border-box;
        width: 28%;
        height: auto;

    }
    
    #menu-cafe .boton{
        display: none;
    }
}