:root{
    --color-texto-general: rgb(134, 86, 23);
    --color-fondo-general: rgba(220, 220, 221, 0.459);
    --texto-fondo-oscuro: rgb(219, 219, 219);
    --boton-bg: #6e5896;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    float: left;
    width: 70vw;
    margin-left: 2rem;
}

.container{
    padding: 5em;
    padding-top: 1em;
    margin-top: 1em;
    background-image: linear-gradient( 
    0deg, 
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
    ),
    url(/assets/img/heroimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 0.5em;
}

.container > h2{
    margin-top: 1rem;
    padding: 0 1em 0 1em;
    border-radius: 0.5em;
    font-size: 3em;
    color: var(--texto-fondo-oscuro);
}

.texto-hero{
    font-size: 2em;
    color:  var(--texto-fondo-oscuro);
}

.texto-hero div{
    margin-bottom: 2em;
}

.centrar{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.boton{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.3rem;
    color: var(--texto-fondo-oscuro);
    background-color: var(--boton-bg);
    border-radius: 0.5rem;
    border: 0.5px solid rgb(124, 123, 123);
}