:root{
    --color-texto-general: rgb(134, 86, 23);
    --color-fondo-general: rgba(220, 220, 221, 0.459);
    --texto-fondo-oscuro: rgb(219, 219, 219);
    --boton-bg: #6e5896;
    --boton-bg-hover: #604b86;
}

.contenedor{
    padding: 2rem 3rem;
    margin: 1rem 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-texto-general);
}

.texto{
    background-color: var(--color-fondo-general);
    border-radius: 0.5rem;
    padding: 1.5rem 1rem;
    box-shadow: 3px 3px 5px grey;
}

@media all and (min-width: 800px){
    .texto{
        background-color: rgb(88, 88, 88);
        color: var(--texto-fondo-oscuro);
    }
}